/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* Avoid orphans on paragraphs */
p {
  text-wrap: pretty;
  line-height: 1.5;
}

/* Make links inherit colors */
a {
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Custom Variables */
:root{
    --clr--cyan: hsl(158, 36%, 37%);
    --clr--cream: hsl(30, 38%, 92%);
    --clr--dark--blue: hsl(212, 21%, 14%);
    --clr--grayish--blue: hsl(228, 12%, 48%);
    --clr--white: hsl(0, 0%, 100%);

    --fz: 0.875rem;
    --ff-montserrat: 'Montserrat', sans-serif;
    --ff-fraunces: 'Fraunces', serif;
}

/* UTILITIES */
.content-flow>*+*{
    margin-top: 1.5rem;
}

body{
    background-color: var(--clr--cream);
    font-size: var(--fz);
    font-family: var(--ff-montserrat);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    padding: 2rem 1rem;
}
.product-card{
    display: flex;
    max-width: 40rem;
    border-radius: 10px;
    overflow: hidden;
}
.product-img{
  width: 140%;
}
.product-img picture{
    height: 100%;
}
.mobile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-content{
    background-color: var(--clr--white);
    padding: 2rem;
}
.product-type{
  font-family: var(--ff-montserrat);
  color: var(--clr--grayish--blue);
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: .2rem;
  font-weight: 400;
}

p{
  color: var(--clr--grayish--blue);
}
.product-name{
  color: var(--clr--dark--blue);
  font-family: var(--ff-fraunces);
  font-size: 2.2rem;
}
.product-intro{
  font-size: 1rem;
}
.product-prices{
  display: flex;
  align-items: center;
  gap: 20px;
}
.discount-price{
  color: var(--clr--cyan);
  font-family: var(--ff-fraunces);
  font-size: 2rem;
}
.original-price{
  color: var(--clr--grayish--blue);
  text-decoration: line-through;
}
.add-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  border: none;
  background-color: var(--clr--cyan);
  border-radius: 8px;
  color: var(--clr--white);
  padding: 1rem;
  font-size: 1.2rem;
  transition: background-color .8s ease-out;
}
.add-button:focus{
  outline: none;
}
.add-button:hover{
  background-color: var(--clr--dark--blue);
  cursor: pointer;
}
@media screen and (max-width:40rem){
    .product-card{
        flex-direction: column;
    }
    .product-img{
      width: 100%;
    }
}